<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta gttp-equiv="X-UA-Compatible" content="IE=edge"/>  
      <title>Web Bank</title>
          <link rel="stylesheet" type="text/css" href="./css/bankStyle.css" />
          <script type="text/javascript" src="./js/banking.js"></script>
    </head> 
  <body>

  <header>
    <div>
        <div class="logo">
      WEB BANK
      </div>
      <div id="box" onmouseover="changeText('Logout')" onmouseout="changeback('{{{data}}}')" onclick="myLogout()">
        <div id="text-display">
          {{{data}}}
        </div>   
      </div>
    </div>
    
  </header>

  <section>
    <article>
      <div class= "center">
        {{{body}}}
      </div> 
    </article>
  </section>

    <footer>
      <p>Aimee Lee 2020</p>
    </footer>

  </body>
</html>